// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.gravatar {
  height: 80px;
  // width: 40px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}